# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
# Private data
auth_config.py
do_not_unfollow.txt
follower.js
following.js
like.js
tweets.js
do_not_delete_tweets.txt
